*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;   
    justify-content: center;
    align-items: center; 
    min-height: 100vh;
    /* background: url(images/pexels-stywo-1261728.jpg) no-repeat; */
    background: #000;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.container{
    /* position: relative; */
    background: rgba(255, 255, 255, .1);
    backdrop-filter: blur(30px);
    border: 2px solid rgba(255, 255, 255, .2);
    width: 400px;
    height: 600px;
    border-radius: 16px;
    padding: 20px;
    color: #fff;
}

.search input{
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border-radius: 10px;
    font-weight: 500;
    border: 2px solid rgba(255, 255, 255, .2);
    font-size: 20px;
    padding: 10px 48px 10px 42px;
    margin-top: 10px;
    color: #fff;
    text-transform: capitalize;
}
.search input::placeholder{
    color: #fff;
}

 button{
    background: #4e3461;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 30px;
    width: 100px;
}
button:hover{
    background:#bd9bd6;
}
.weather{
    text-align: center;
    margin-top: 30px;
}
.weather-icon{
width: 40%;
/* margin-top: 30px; */
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    padding: 0 20px;
}
.weather h1{
    font-size: 50px;
    font-style: 500;
}
.weather h2{
    font-size: 30px;
font-weight: 400;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col i{
    font-size: 40px;
    margin-right: 10px;
}
.humidity, .wind{
    font-size: 28px;
    margin-top: 10px;
    line-height: 0;
}






